<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="tlogAdaptor" class="org.simplejta.tm.log.jdbc.adaptors.DerbyEmbeddedTransactionLogAdaptor">
		<property name="url" value="/derby/databases/tca" />
		<property name="user" value="APP" />
		<property name="password" value="APP" />
	</bean>

	<bean id="tlog"
		class="org.simplejta.tm.log.jdbc.JDBCTransactionLog">
		<property name="jdbcTransactionLogAdaptor" ref="tlogAdaptor" />
	</bean>

	<bean id="myTM" class="org.simplejta.tm.SimpleTransactionManager">
		<property name="transactionLog" ref="tlog" />
	</bean>

	<bean id="DERBY.EMBEDDED.ADAPTOR" class="org.simplejta.tm.jdbc.adaptors.DerbyEmbeddedDataSourceAdaptor" />
	
	<bean id="ORACLE.ADAPTOR" class="org.simplejta.tm.jdbc.adaptors.OracleDataSourceAdaptor" />
	
	<bean id="ACTIVEMQ.ADAPTOR" class="org.simplejta.tm.jms.adaptors.ActiveMQJMSConnectionFactoryAdaptor" />

<!-- 

	<bean id="ORACLE" class="org.simplejta.tm.jdbc.JDBCXAConnectionPool">
		<property name="dataSourceAdaptor" ref="ORACLE.ADAPTOR" />
		<property name="transactionManager" ref="myTM" />
	</bean>
-->

	<bean id="TestDataSource1" class="org.simplejta.tm.jdbc.JDBCXAConnectionPool">
		<property name="dataSourceAdaptor" ref="DERBY.EMBEDDED.ADAPTOR" />
		<property name="transactionManager" ref="myTM" />
		<property name="connectionProperties">
			<props>
				<prop key="databaseName">/derby/databases/tca</prop>
				<prop key="user">APP</prop>
				<prop key="password">APP</prop>
			</props>
		</property>
		
	</bean>

	<bean id="TestDataSource2" class="org.simplejta.tm.jdbc.JDBCXAConnectionPool">
		<property name="dataSourceAdaptor" ref="DERBY.EMBEDDED.ADAPTOR" />
		<property name="transactionManager" ref="myTM" />
		<property name="connectionProperties">
			<props>
				<prop key="databaseName">/derby/databases/tca</prop>
				<prop key="user">APP</prop>
				<prop key="password">APP</prop>
			</props>
		</property>
	</bean>

	<bean id="JMSConnectionPool1" class="org.simplejta.tm.jms.JMSXAConnectionPool">
		<property name="connectionFactoryAdaptor" ref="ACTIVEMQ.ADAPTOR" />
		<property name="transactionManager" ref="myTM" />
		<property name="connectionProperties">
			<props>
				<prop key="brokerURL">tcp://localhost:61616</prop>
				<prop key="userName"></prop>
				<prop key="password"></prop>
			</props>
		</property>
	</bean>


</beans>